

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(5, 1fr);
  width: 200px;
  height: 200px;
 border: 1px;
 font-size: xx-large;

}

div > div {
  padding: 30px;
  background-color: #ccc;
}
 #block0, #block1, #block19, #block24 {
  background-color: black;
 }

 p1, p2{
  width: 600px;
  font-size: 17px;
  text-align: left;
  height: 100px;
  display: inline-table;
  padding: 20px;
  margin-block-end:0%;
  font-style: italic;
 }
 